# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / build outputs
build/
*.spec
*.egg-info/

dist/

# Logs & runtime artifacts
*.log

# IDE / editor
.vscode/
.idea/
*.iml

# OS generated
.DS_Store
Thumbs.db
